$linkColor: #4183C4;
$hoverColor: lighten($linkColor, 10);
$borderColor: #b3b3b3;

//**** Breakpoints ****
$desktop: min-width 850px;
$tablet: min-width 750px;
$tablet-only: min-width 750px max-width 849px;
$mobile-only: max-width 749px;